

label {
    margin-top: 50px;
    height: 100px;
    width: 150px;
    border-radius: 60px;
    text-align: center;
    align-items: center;
}

label:hover {
      color: #999;
}

.main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.uploader {
    margin-top: 40px;
    display: flex;
    border-radius: 20px;
    background: #FFF;
}

.upload-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 27px 48px ;
    flex: 1;
    width: 1000px;
    height: 600px;
    border-radius: 4px;
border: 1px dashed var(--Primary, #3C50E0);
background: var(--Gray, #EFF4FB);
}

.filepond--root {
    width: 500px;
}

.filepond--drop-label {
    width: 500px !important;
    /* width: 300px; */
    background: var(--Gray, #EFF4FB);
    color: var(--Text-color, #64748B);
text-align: center;

/* 14 Medium */
font-family: Satoshi;
font-size: 18px !important;
font-style: normal;
font-weight: 500;
line-height: 22px; /* 157.143% */
}

.filepond--credits {
    display: none;
}

.filepond--label-action {
    color: var(--Primary, #3C50E0);
}